@import "less/common.less";
@import "less/definitions.less";
@import "less/appointment.less";


body {

}

button:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}