<div>
    <div class="header">
        <div class="today col-xs-3">
            <button>
                <img src="assets/images/btn_today.png">
            </button>
        </div>
        <div class="date col-xs-6">
            <p><span>6/2016</span></p>
        </div>
        <div class="add_new col-xs-3">
            <button>
                <img src="assets/images/btn_add.png">
            </button>
        </div>
    </div>
    <div ng-include="'templates/week_day_list.html'"></div>
    <div class="date_anchor">
        <p>
            <span>11/06/2015</span>&nbsp;&ndash;&nbsp;<span>3 appt</span>
        </p>
    </div>
</div>