<div>
    <div class="body_header">
        <div class="today col-xs-3">
            <button>
                <img src="assets/images/btn_today.png">
            </button>
        </div>
        <div class="date col-xs-6">
            <p><span>6/2016</span></p>
        </div>
        <div class="add_new col-xs-3">
            <button>
                <img src="assets/images/btn_add.png">
            </button>
        </div>
    </div>
    <div ng-include="'templates/week_day_list.html'"></div>

    <div class="body_content">
        <div class="appointment_list">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/btn_add2.png">
                </div>
            </div>

            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
                <div class="cancel_appointment">
                    <p>Cancel</p>

                    <p>Appointment</p>
                </div>
            </div>
        </div>

        <div class="appointment_list no_appointment">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/close.png">
                </div>
            </div>
        </div>

        <div class="appointment_list no_appointment">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/close.png">
                </div>
            </div>
        </div>

        <div class="appointment_list">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/btn_add2.png">
                </div>
            </div>

            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
                <div class="cancel_appointment">
                    <p>Cancel</p>

                    <p>Appointment</p>
                </div>
            </div>
        </div>

        <div class="appointment_list">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/btn_add2.png">
                </div>
            </div>

            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
        </div>

        <div class="appointment_list">
            <div class="date_anchor">
                <p class="col-xs-8">
                    <span>12/06/2015</span>&nbsp;&ndash;&nbsp;<span>0 appt</span>
                </p>

                <div class="col-xs-4">
                    <img src="assets/images/btn_add2.png">
                </div>
            </div>

            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
            <div class="appointment_details">
                <div class="time">
                    <p>10:15</p>

                    <p>10:15</p>
                </div>
                <div class="content">
                    <p class="customer_name">Tanaka (Tuinikai)</p>

                    <p class="service_name font-helvetica-light">Sap, Nail <span
                            class="font-helvetica-light-italic">(30m)</span></p>
                </div>
            </div>
        </div>
    </div>
</div>