<div>
    <ul class="day_list">
        <li>
            <p class="day_character">Mon</p>
            <p class="day_digit"><span>15</span></p>
        </li>
        <li>
            <p class="day_character">Tue</p>
            <p class="day_digit"><span>16</span></p>
        </li>
        <li>
            <p class="day_character">Wed</p>
            <p class="day_digit"><span>17</span></p>
        </li>
        <li class="active">
            <p class="day_character">Thu</p>
            <p class="day_digit"><span>18</span></p>
        </li>
        <li>
            <p class="day_character">Fri</p>
            <p class="day_digit"><span>19</span></p>
        </li>
        <li>
            <p class="day_character">Sat</p>
            <p class="day_digit"><span>20</span></p>
        </li>
        <li>
            <p class="day_character">Sun</p>
            <p class="day_digit"><span>21</span></p>
        </li>
    </ul>
</div>