<ul class="bxslider">
    <li class="first_week" data-order="first_week">
        <ul class="day_list">
            <li>
                <p class="day_of_week">Mon</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Tue</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Wed</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li class="active">
                <p class="day_of_week">Thu</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Fri</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Sat</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Sun</p>

                <p><span class="date_of_month"></span></p>
            </li>
        </ul>
    </li>

    <li class="second_week" data-order="second_week">
        <ul class="day_list">
            <li>
                <p class="day_of_week">Mon</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Tue</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Wed</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li class="active">
                <p class="day_of_week">Thu</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Fri</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Sat</p>

                <p><span class="date_of_month"></span></p>
            </li>
            <li>
                <p class="day_of_week">Sun</p>

                <p><span class="date_of_month"></span></p>
            </li>
        </ul>
    </li>

    <li class="third_week" data-order="third_week">
        <ul class="day_list">
            <li>
                <p class="day_of_week">Mon</p>

                <p><span class="date_of_month">15</span></p>
            </li>
            <li>
                <p class="day_of_week">Tue</p>

                <p><span class="date_of_month">16</span></p>
            </li>
            <li>
                <p class="day_of_week">Wed</p>

                <p><span class="date_of_month">17</span></p>
            </li>
            <li class="active">
                <p class="day_of_week">Thu</p>

                <p><span class="date_of_month">18</span></p>
            </li>
            <li>
                <p class="day_of_week">Fri</p>

                <p><span class="date_of_month">19</span></p>
            </li>
            <li>
                <p class="day_of_week">Sat</p>

                <p><span class="date_of_month">20</span></p>
            </li>
            <li>
                <p class="day_of_week">Sun</p>

                <p><span class="date_of_month">21</span></p>
            </li>
        </ul>
    </li>
</ul>